.testimonials {
  padding: 10rem;

  &__header {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &__card {
    background-color: $white-2;
    padding: 4rem 3rem;
    border-radius: 10px;
  }

  &__title {
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__paragraph {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $grey-dark;
    border-bottom: 1px solid rgba($color: #aaa, $alpha: 0.2);
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__img-box {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 1.4rem;
    color: #444;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__address {
    font-size: 1.2rem;
    color: $grey;
  }
}
