.container {
  &__grey {
    background-color: $grey-dark;
  }
}

.fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-height {
  min-height: 80vh;
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-bg {
  margin-bottom: 6rem;
}

.btn {
  padding: 2rem 3rem;
  border-radius: 10rem;
  border: 2px solid;
  cursor: pointer;
  font-family: 'DM sans';
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.2s;

  &__primary {
    background-color: $primary-color;
    color: #fff;
    border-color: transparent;
    margin-right: 2rem;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      top: 0;
      border-radius: 10rem;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &:hover::before {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &__outline {
    background: none;
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

// Typography
.section {
  &__title {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Playfair Display';
  }

  &__description {
    color: $grey-dark;
    font-size: 1.3rem;
  }

  &__description-dark {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
